<div class="container">
    <section class="navbar navbar-default col-xs-12">
        <div class="col-xs-4">
            <a ng-href="#/daylog/{{petname}}"><h4>Daily Log</h4></a>
        </div>
        <div class="col-xs-4">
            <a ng-href="#/medical/{{petname}}"><h4>Medical Log</h4></a>
        </div>
        <div class="col-xs-4">
            <a ng-href="#/appointments/{{petname}}"><h4>Upcoming Appointments</h4></a>
        </div>
    </section>
    <h1>{{petname}}'s Daily Log for {{today | date}}</h1>
    <br>
    <form>
        <input class="user-input" type="text" placeholder="Example: 8am went pee outside" ng-model="addText" required/>
        <button class="add-button" ng-click="addEvents()">
            <h5>Add Event</h5>
        </button>
    </form>
    <ul>
        <li ng-repeat="pee in pees">{{pee.text}}</li>
        <li ng-repeat="event in events">
            <span>{{event.text}}</span>
        </li>
    </ul>
    <!--<div id="home">-->
    <a ng-href="#/homepage">
        <button class="btn btn-primary">Back to Homepage</button>
    </a>
    <a ng-href="#/medical">
        <button class="btn btn-primary">Go to Riley's Medical Log</button>
    </a>
    <a ng-href="#/appointments">
        <button class="btn btn-primary">Go to Riley's Upcoming Appointments</button>
    </a>
    <!--</div>-->
</div>
