<section class="header-class no-padding-left-and-right col-xs-12">
    <h2>Select Your Pet's Profile Below:</h2>
</section>
<section class="profiles col-xs-12">
    <div class="riley col-xs-12">
        <a ng-href="#/petprofile/Riley"><h3>RILEY</h3></a>
        <img src="images/Riley.jpg" height="200px" width="200px" class="img-circle" />
    </div>
    <div class="moe col-xs-12">
        <a ng-href="#/petprofile/Moe"><h3>MOMO</h3></a>
        <img src="images/Moe.jpg" height="200px" width="200px" class="img-circle" />
    </div>
</section>

<!--Unable to get ng-href route linked dynamically-->

<!--<section class="profiles col-xs-12">
    <div class="pet col-xs-12" ng-repeat="pet in petprofile">
        <a ng-href="#/petname"><h3>{{pet.petname}}</h3></a>
        <img src="{{pet.image}}" height="200px" width="200px" />
    </div>
</section>-->
<section class="add-delete no-padding-left-and-right col-xs-12">
    <!--<h3 class="col-xs-6"><a ng-href="#/addprofile">Add New Pet Profile</a></h3>
    <h3 class="col-xs-6"><a ng-href="#/deleteprofile">Delete Pet Profile</a></h3>-->
    <h3 class="col-xs-6"><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">Add New Pet Profile</a></h3>
    <h3 class="col-xs-6"><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">Delete Pet Profile</a></h3>
</section>



<!--<section class="header-class no-padding-left-and-right col-xs-12">
    <h2>Select Your Pet's Profile Below:</h2>
</section>
<section class="profiles col-xs-12">
    <div class="riley col-xs-12">
        <a ng-href="#/riley"><h3>RILEY</h3></a>
        <img src="images/Riley.jpg" height="200px" width="200px" />
    </div>
    <div class="moe col-xs-12">
        <a ng-href="#/moe"><h3>MOMO</h3></a>
        <img src="images/Moe.jpg" height="200px" width="200px" />
    </div>
</section>
<section class="add-delete no-padding-left-and-right col-xs-12">
    <h3 class="col-xs-6"><a>Add New Pet Profile</a></h3>
    <h3 class="col-xs-6"><a>Delete Pet Profile</a></h3>
</section>-->
