<div class="container">
    <section class="navbar navbar-default col-xs-12">
        <div class="col-xs-4">
            <a ng-href="#/daylog/{{petname}}"><h4>Daily Log</h4></a>
        </div>
        <div class="col-xs-4">
            <a ng-href="#/medical/{{petname}}"><h4>Medical Log</h4></a>
        </div>
        <div class="col-xs-4">
            <a ng-href="#/appointments/{{petname}}"><h4>Upcoming Appointments</h4></a>
        </div>
    </section>
    <h1>{{petname}}'s Medical Journal</h1>
    <br>
    <ul>
        <li class="legible" ng-repeat="medical in medicals" ng-show="displayMedicals()">{{medical}}</li>
        <li class="legible" ng-repeat="event in events">
            <span>{{event.text}}</span>
        </li>
    </ul>
    <form>
        <input class="user-input" type="text" placeholder="Add event . . ." ng-model="addText" />
        <button class="add-button" ng-click="addEvents()">
            <h5>Add Event</h5>
        </button>
    </form>

</div>
