<section class="navbar navbar-default col-xs-12">
    <div class="col-xs-4">
        <a ng-href="#/daylog"><h4>Daily Log</h4></a>
    </div>
    <div class="col-xs-4">
        <a ng-href="#/medical"><h4>Medical Log</h4></a>
    </div>
    <div class="col-xs-4">
        <a ng-href="#/appointments"><h4>Upcoming Appointments</h4></a>
    </div>
</section>
<section class="profiles col-xs-12">
    <div class="riley col-xs-12">
        <h3>RILEY</h3>
        <img src="images/Riley.jpg" height="200px" width="200px" />
    </div>
</section>
<!--<section class="profiles col-xs-12" ng-controller="petprofileController">
    <div class="pet col-xs-12" ng-repeat="pet in petprofile">
        <h3>{{pet.petname}}</h3>
        <img src="{{pet.image}}" height="200px" width="200px" />
    </div>
</section>-->
